body {
  font-family: 'Roboto', sans-serif;
}

.jumbotron{
  background-color: #FFEB3B;
  color: #fff;
  margin-bottom: 0em !important;
}

.jumbotron .nick{

}

.jumbotron.chat {
  /* this is the actual change to the elment
   *  which has nothing to do with the animation
   */
  padding-bottom: 10px !important;
  padding-top: 0px !important;
  /* margin-bottom: 0px !important; */
}
.jumbotron.chat-add,
.jumbotron.chat-remove {
  /* Here we specify the transition property and
   * initial state of the animation, which is hidden
   * state having 0 opacity
   */
  opacity: 0.8;
  transition: opacity 3s, 0.8s padding ease-out;
}
.jumbotron.chat-add-active,
.jumbotron.chat-remove-active {
  /* Here we specify the final state of the animation,
   * which is visible having 1 opacity
   */
  opacity: 1;
}

.jumbotron small{
  /* color: #fff; */
  color: #000;
}

.btn-principal {
  color: #fff !important;
  background-color: #FBC02D !important;
  border-color: #FBC02D !important;
}

#nick {
  padding-left: 5em;
  padding-right: 5em;
}

#send-msg {
  margin-top: 28px;
}
/* https://www.google.com.co/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=bootstrap%20row%20full%20page%20height */

#luis-github {
  text-decoration: none !important;
}

#test {
  index: 50;
  top: 300px;
  position: absolute;
}

#principal {
  background-color: #FFF9C4;
  border-radius: 0px 0px 18px 18px;
  -moz-border-radius: 0px 0px 18px 18px;
  -webkit-border-radius: 0px 0px 18px 18px;
  border: 0px solid #000000;
}

#salas-div {
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;

  margin-top: 8px;
  margin-left: 8px;
  padding: 5px;
}

#mensajes-div {
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;

  margin-top: 8px;
  margin-right: 12px;
  padding: 5px;
}

.mensaje-item {
  background-color: #00BCD4;
  color: #fff;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 0px solid #000000;

  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

p {
  display: table;
}

