<div class="containers" id="principal">
  <div class="row">
    <div class="col-sm-2">
      <div id="salas-div">
        salas
      </div>
    </div>

    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-12">
          <div id="mensajes-div">
            <p class="mensaje-item" ng-repeat="dato in chatController.datos">
              {{dato.nick + " - " + dato.msj}}
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10">
          <div class="form-group">
            <textarea class="form-control" placeholder="mensaje" ng-model="chatController.msj"></textarea>
          </div>
        </div>
        <div class="col-sm-2">
          <!-- <button class="btn btn-default">Submit</button> -->
          <a href="javascript:void(0)" class="btn btn-principal btn-fab" id="send-msg" ng-click="chatController.writePush()"><i class="material-icons">send</i></a>
        </div>
      </div>
    </div>
  </div>
</div>
