<div id="particles-js">
<script>
    particlesJS.load('particles-js', 'assets/particles.json', function() {
      console.log('callback - particles.js config loaded');
    });
  </script>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4" id="test">

      <div class="panel panel-warning">
        <div class="panel-body">
          <div>
            <h3 class="text-center">Para ingresar debes elegir un nick</h3>

            <div id="nick">
              <div class="form-group label-floating">
                <label for="i5" class="control-label">nick</label>
                <input type="text" class="form-control" id="i5" ng-model="nickController.nick">
              </div>
            </div>

            </br>
            <div class="text-center">
              <button class="btn btn-raised btn-principal" ng-click="nickController.saveNick()">Ingresar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



